/* .layer-popup-content {
    width: 35% !important;
} */

.inquiry-popup-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  color: #656565;
}

.inquiry-popup-guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.inquiry-popup-guide p {
  font-size: 16px;
  margin: 0 0 12px;
  color: #656565;
}

.inquiry-write-area {
  margin-bottom: 12px;
}

.inquiry-title {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  margin-bottom: 12px;
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}

.inquiry-message {
  width: 100%;
  height: 210px;
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  font-family: 'Pretendard', sans-serif;
}

.check-submit-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inquiry-private-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
}

.inquiry-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #D4D4D4;
  border-radius: 3px;
  margin-right: 6px;
  cursor: pointer;
}

.inquiry-checkbox-text {
  font-size: 13px;
  color: #000000;
}

.submit-button {
  border: 1px solid #153085;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  background-color: #153085;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.submit-button:disabled {
  cursor: not-allowed;
  background-color: #E3E3E3;
  border: 1px solid #E3E3E3;
}